<!DOCTYPE html>
<html>

<head>
    <title>Drop64 - Controller</title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/controller.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="assets/three.min.js"></script>
    <script src="assets/mathbox/build/mathbox-bundle.js"></script>
    <script src="assets/cbuffer/cbuffer.js"></script>
    <script src="assets/dat.gui/dat.gui.js"></script>
    <script src='assets/ngTouchStart.min.js'></script>

    <script type='text/javascript' src='assets/controller.js'></script>

</head>

<body ng-app="controller" ng-controller='RootController' id='main-content-wrap'>
    <figure id="nespad">
        <div class="cord"></div>
        <section class="dpad-pane">
            <div class="dpad-hole"></div>
            <div id="dpad">
                <canvas height="150" id="dpad-body" width="150"></canvas>
                <button class="button" id="up" my-touchstart='press("ArrowUp", 38)' my-touchend='release("ArrowUp", 38)'></button>
                <button class="button" id="right" my-touchstart='press("ArrowRight", 39)' my-touchend='release("ArrowRight", 39)'></button>
                <button class="button" id="down" my-touchstart='press("ArrowDown", 40)' my-touchend='release("ArrowDown", 40)'></button>
                <button class="button" id="left" my-touchstart='press("ArrowLeft", 37)' my-touchend='release("ArrowLeft", 37)'></button>
            </div>
        </section>
        <section class="menu-pane">
            <div class="labels">
                <label class="select" for="select"> Z</label>
                <label class="start" for="start">Start</label>
            </div>
            <div class="buttons">
                <button class="button select" id="select" my-touchstart='press("z", 90)' my-touchend='release("z", 90)'>Select</button>
                <button class="button start" id="start" my-touchstart='press("Enter", 13)' my-touchend='release("Enter", 13)'>Start</button>
            </div>
        </section>
        <section class="action-pane">
            <div class="logo">
                Nintendo
            </div>
            <div class="buttons">
                <label class="label">B
                    <button class="button" id="b" my-touchstart='press("f", 70)' my-touchend='release("f", 70)'></button>
                </label>
                <label class="label">A
                    <button class="button" id="a" my-touchstart='press("g", 71)' my-touchend='release("g", 71)'></button>
                </label>
            </div>
        </section>
    </figure>

    <!-- <script src="assets/util.js"></script> -->
    <!-- <script src="assets/complementary-filter.js"></script> -->
    <!-- <script src="assets/plot-sensors.js"></script> -->
    <!--

    <div class='container'>
        <div class='row main-row'> </div>
        <div class='row main-row'>
            <div class='controls left-controls text-center'>
                <div class='row'>
                    <button id='aaa' type='button' class='gamepad-button' my-touchstart='press("ArrowUp", 38)' my-touchend='release("ArrowUp", 38)'>Up</button>
                </div>
                <button class='gamepad-button' my-touchstart='press("ArrowLeft", 37)' my-touchend='release("ArrowLeft", 37)'>Left</button>
                <button class='gamepad-button' my-touchstart='press("ArrowDown", 40)' my-touchend='release("ArrowDown", 40)'>Down</button>
                <button class='gamepad-button' my-touchstart='press("ArrowRight", 39)' my-touchend='release("ArrowRight", 39)'>Right</button>
            </div>
            <div class='controls mid-controls text-center'>
                {{ counter }}
                <button class='gamepad-button' my-touchstart='press("Enter", 13)' my-touchend='release("Enter", 13)'>Start</button>
                <button class='gamepad-button' my-touchstart='press("z", 90)' my-touchend='release("z", 90)'>Z</button>
            </div>
            <div class='controls right-controls text-center'>
                <button class='gamepad-button' my-touchstart='press("g", 71)' my-touchend='release("g", 71)'>A</button>
                <button class='gamepad-button' my-touchstart='press("f", 70)' my-touchend='release("f", 70)'>B</button>
            </div>
        </div>
        <div class='row main-row'></div> -->
    <script type='text/javascript' src='assets/nes.js'></script>

</body>

</html>
