<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/display.css">

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Drop64</title>
</head>

<body>

    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            <p>
                <div class="spinner" id='spinner'></div>
                <div class="emscripten" id="status">Downloading...</div>
                <div id='filechooser' style="visibility:hidden;">
                    <input type="file" id="files" name="files[]" multiple />
                    <output id="list"></output>
                </div>
                <div class="emscripten">
                    <progress value="0" max="100" id="progress" hidden=1></progress>
                </div>
                <div class="emscripten_border">
                    <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
                </div>
                <script type='text/javascript' src='assets/display.js'></script>
                <script async type="text/javascript" src="assets/mupen64plus-ui-console.js"></script>
            </p>
        </section>
    </div>

    <div class="viewport" id='n64-logo'>
        <div class="n64">

            <div class="bottom side">
                <div class="part yellow"></div>
                <div class="part vert-top red" style="transform-origin: left;"></div>
                <div class="part yellow"></div>
                <div class="part hoz-left red"></div>
                <div class="part hoz-right red"></div>
                <div class="part yellow"></div>
                <div class="part vert-bottom red"></div>
                <div class="part yellow"></div>
            </div>
            <div class="front side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="back side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="left side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="right side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="front inside side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="back inside side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="left inside side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="right inside side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="top side">
                <div class="part yellow"></div>
                <div class="part vert-top red"></div>
                <div class="part yellow"></div>
                <div class="part hoz-left red"></div>
                <div class="part hoz-right red"></div>
                <div class="part yellow"></div>
                <div class="part vert-bottom red"></div>
                <div class="part yellow"></div>
            </div>
        </div>
    </div>

</body>

</html>
